Source: libglibutil
Standards-Version: 4.7.4
Maintainer: Slava Monich <slava.monich@jolla.com>
Section: libs
Build-Depends:
 debhelper-compat (= 13),
 libglib2.0-dev,
Vcs-Browser: https://github.com/sailfishos/libglibutil
Vcs-Git: https://github.com/sailfishos/libglibutil
Homepage: https://github.com/sailfishos/libglibutil

Package: libglibutil1
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 libglibutil,
Replaces:
 libglibutil,
Description: Library of glib utilities
 The library is a bunch of reusable utilities on top of glib.
 .
 This package contains the library.

Package: libglibutil-dev
Architecture: any
Section: libdevel
Depends:
 libglibutil1 (= ${binary:Version}),
 libglib2.0-dev,
 ${misc:Depends},
Description: Library of glib utilities (dev fiiles)
 The library is a bunch of reusable utilities on top of glib.
 .
 This package contains the development files.
